/* Write your CSS here */

.configuration-containter {
    font-size: 1rem;
    background-color: #475569;
    color: #f1f5f9;
    padding: 1rem;
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
}

input {
    height: 1rem;
    width: 1rem;
}